<?php Block::put('breadcrumb') ?>
    <ul>
        <li><a href="<?= Backend::url('bitcraft/bitcraftblog/blogposts') ?>">BlogPosts</a></li>
        <li><?= e($this->pageTitle) ?></li>
    </ul>
<?php Block::endPut() ?>

<?php if (!$this->fatalError): ?>
<?php $this->widget->form->model->noFallbackLocale(); ?>
<div style="display: flex;justify-content: flex-end">
    <div class="dropdown dropdown-fixed" style="margin: 5px">
        <a
                class="btn btn-default icon-crosshairs"
                data-toggle="dropdown"
        >
                    <span style="font-family: sans-serif!important">
                        Preview
                    </span>
        </a>
        <ul class="dropdown-menu" data-dropdown-title="Report auswählen" style="cursor: pointer;">
            <?php foreach(array_keys(RainLab\Translate\Models\Locale::listAvailable()) as $locale): ?>
            <?php if (!empty($this->widget->form->model->getAttributeTranslated('slug', $locale))): ?>
            <li>
                <a
                        type="button"
                        target="_blank"
                        style="color: black !important;"
                        href="<?php echo $this->widget->form->model->frontendPath($locale) ?>?mode=preview"
                >
                    <?php echo strtoupper($locale) ?>
                </a>
            </li>
            <?php endif ?>
            <?php endforeach; ?>
        </ul>
    </div>
    <div class="dropdown dropdown-fixed" style="margin: 5px">
        <a
                class="btn btn-default icon-crosshairs"
                data-toggle="dropdown"
        >
                        <span style="font-family: sans-serif!important">
                            Published
                        </span>
        </a>
        <ul class="dropdown-menu" data-dropdown-title="Report auswählen" style="cursor: pointer;">
            <?php foreach(array_keys(RainLab\Translate\Models\Locale::listAvailable()) as $locale): ?>
            <?php if (!empty($this->widget->form->model->getAttributeTranslated('slug', $locale))): ?>
            <li>
                <a
                        type="button"
                        target="_blank"
                        style="color: black !important;"
                        href="<?php echo $this->widget->form->model->frontendPath($locale) ?>"
                >
                    <?php echo strtoupper($locale) ?>
                </a>
            </li>
            <?php endif ?>
            <?php endforeach; ?>
        </ul>
    </div>
</div>
    <?= Form::open(['class' => 'layout']) ?>

        <div class="layout-row">
            <?= $this->formRender() ?>
        </div>

        <div class="form-buttons">
            <div class="loading-indicator-container">
                <button
                    type="submit"
                    data-request="onSave"
                    data-request-data="redirect:0"
                    data-hotkey="ctrl+s, cmd+s"
                    data-load-indicator="<?= e(trans('backend::lang.form.saving')) ?>"
                    class="btn btn-primary">
                    <?= e(trans('backend::lang.form.save')) ?>
                </button>
                <button
                    type="button"
                    data-request="onSave"
                    data-request-data="close:1"
                    data-hotkey="ctrl+enter, cmd+enter"
                    data-load-indicator="<?= e(trans('backend::lang.form.saving')) ?>"
                    class="btn btn-default">
                    <?= e(trans('backend::lang.form.save_and_close')) ?>
                </button>
                <button
                    type="button"
                    class="oc-icon-trash-o btn-icon danger pull-right"
                    data-request="onDelete"
                    data-load-indicator="<?= e(trans('backend::lang.form.deleting')) ?>"
                    data-request-confirm="<?= e(trans('backend::lang.form.confirm_delete')) ?>">
                </button>

                <span class="btn-text">
                    <?= e(trans('backend::lang.form.or')) ?> <a href="<?= Backend::url('bitcraft/bitcraftblog/blogposts') ?>"><?= e(trans('backend::lang.form.cancel')) ?></a>
                </span>
            </div>
        </div>
    <?= Form::close() ?>

<?php else: ?>
    <p class="flash-message static error"><?= e(trans($this->fatalError)) ?></p>
    <p><a href="<?= Backend::url('bitcraft/bitcraftblog/blogposts') ?>" class="btn btn-default"><?= e(trans('backend::lang.form.return_to_list')) ?></a></p>
<?php endif ?>
